/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./base.css');

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  padding: 0;
}

.gallery-item {
  width: calc((100% - 48px) / 4);
  border: 1px solid #ccc;
}

.gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  padding: 8px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.loader {
  display: none;
  /* спочатку ховаємо */
  border: 6px solid #f3f3f3;
  /* світлий фон */
  border-top: 6px solid #3498db;
  /* синя обводка */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}